## Data Preprocessing: Task 2

In [2]:
#!pip install keras

Collecting keras
  Downloading https://files.pythonhosted.org/packages/ad/fd/6bfe87920d7f4fd475acd28500a42482b6b84479832bdc0fe9e589a60ceb/Keras-2.3.1-py2.py3-none-any.whl (377kB)
     |████████████████████████████████| 378kB 1.3MB/s eta 0:00:01
Requirement already satisfied: scipy>=0.14 in /Users/chris/anaconda3/lib/python3.6/site-packages (from keras) (1.1.0)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /Users/chris/anaconda3/lib/python3.6/site-packages (from keras) (1.1.0)
Requirement already satisfied: h5py in /Users/chris/anaconda3/lib/python3.6/site-packages (from keras) (2.7.1)
Requirement already satisfied: keras-applications>=1.0.6 in /Users/chris/anaconda3/lib/python3.6/site-packages (from keras) (1.0.8)
Requirement already satisfied: numpy>=1.9.1 in /Users/chris/anaconda3/lib/python3.6/site-packages (from keras) (1.15.4)
Requirement already satisfied: six>=1.9.0 in /Users/chris/anaconda3/lib/python3.6/site-packages (from keras) (1.10.0)
Requirement already satisfied: pyyaml in /Users/chris/anaconda3/lib/python3.6/site-packages (from keras) (3.12)
Installing collected packages: keras
Successfully installed keras-2.3.1
WARNING: You are using pip version 19.1, however version 19.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [1]:
##imports go here
from keras.preprocessing import sequence
from keras.models import Sequential
from keras.layers import Dense, Dropout, Embedding, LSTM, Bidirectional
from keras.datasets import imdb
import pandas as pd
import spacy
import numpy as np
import nltk
nltk.download('punkt')
from nltk.tokenize import sent_tokenize, word_tokenize 
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.stem.porter import PorterStemmer
nlp = spacy.load('en')
from sklearn.model_selection import train_test_split
import pickle
import numpy as np
import pandas as pd
from keras.models import Model
from keras.layers import Input, Dense, Embedding, SpatialDropout1D, add, concatenate
from keras.layers import CuDNNLSTM, Bidirectional, GlobalMaxPooling1D, GlobalAveragePooling1D
from keras.preprocessing import text, sequence
from gensim.models import KeyedVectors

/Users/chris/anaconda3/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

[nltk_data] Downloading package punkt to /Users/chris/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [2]:
review_df=pd.read_csv("yelp_dataset/FinalDataset/reviewOrigFile.csv")
business_df=pd.read_csv("yelp_dataset/FinalDataset/BusinessOrigFile.csv")
usaRestuarants=pd.read_csv("yelp_dataset/FinalDataset/usaRestuarants.csv")

In [3]:
review_df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,ujmEBvifdJM6h6RLv4wQIg,0,2013-05-07 04:34:36,1.0,Q1sbwvVQXV2734tPgoKj4Q,1.0,Total bill for this horrible service? Over $8G...,6.0,hG7b0MtEbXx5QzbzE6C_VA
1,NZnhc2sEQy3RmzKTZnqtwQ,0,2017-01-14 21:30:33,0.0,GJXCdrto3ASJOqKeVWPi6Q,5.0,I *adore* Travis at the Hard Rock's new Kelly ...,0.0,yXQM5uF2jS6es16SJzNHfg
2,WTqjgwHlXbSFevF32_DJVw,0,2016-11-09 20:09:03,0.0,2TzJjDVDEuAW6MR5Vuc1ug,5.0,I have to say that this office really has it t...,3.0,n6-Gk65cPZL6Uz8qRm3NYw
3,ikCg8xy5JIg_NGPx-MSIDA,0,2018-01-09 20:56:38,0.0,yi0R0Ugj_xUx_Nek0-_Qig,5.0,Went in for a lunch. Steak sandwich was delici...,0.0,dacAIZ6fTM6mqwW5uxkskg
4,b1b1eb3uo-w561D0ZfCEiQ,0,2018-01-30 23:07:38,0.0,11a8sVPMUFtaC7_ABRkmtw,1.0,Today was my second out of three sessions I ha...,7.0,ssoyf2_x0EQMed6fgHeMyQ

In [4]:
from datetime import datetime

datetime_object = datetime.strptime('Jun 1 2005  1:33PM', '%b %d %Y %I:%M%p')

Filtering for review year < 2017

In [5]:
#train['Name_length'] = train.Name.apply(len)

In [6]:
review_df['year_date'] = review_df.date.apply(lambda x: x.split("-")[0])

In [7]:
review_df=review_df[review_df['year_date']!="aZs_IrhA7rvuLBumVhJjCw"]

In [8]:
review_df=review_df[review_df['year_date']!="QRn8ELZmvP8S4evnSRU9bQ"]

In [9]:
review_df['year_date'] = pd.to_numeric(review_df["year_date"])

In [10]:
review_df['year_date'].value_counts()

2017    1217673
2018    1177662
2016    1098786
2015     952400
2014     704862
2013     491294
2012     367090
2011     302867
2010     187387
2009     101173
2008      57347
2007      21389
2006       5081
2005        876
2004         13
Name: year_date, dtype: int64

In [11]:
len(review_df)

6685900

In [12]:
review_df_year=review_df[review_df["year_date"]<2017]
len(review_df_year)

4290565

In [10]:
review_df_filtered = review_df_year[review_df_year.business_id.isin(usaRestuarants.business_id)]

In [11]:
len(review_df_filtered)

2231445

In [12]:
review_df_filtered=review_df_filtered.dropna()

In [29]:
len(review_df_filtered)

2231443

In [18]:
review_df_filtered.reset_index(inplace = True)

In [19]:
review_df_filtered.head()

,index,business_id,cool,date,funny,review_id,stars,text,useful,user_id,year_date,cleaned_text
0,5,eU_713ec6fTGNO4BegRaww,0,2013-01-20 13:25:59,0.0,fdiNeiN_hoCxCMy2wTRW9g,4.0,I'll be the first to admit that I was not exci...,0.0,w31MKYsNFMrjhWxxAb5wIw,2013,
1,7,zvO-PJCpNk4fgAVUnExYAA,1,2010-10-05 19:12:35,1.0,8e9HxxLjjqc9ez5ezzN7iQ,1.0,This place has gone down hill. Clearly they h...,3.0,d6xvYpyzcfbF_AZ8vMB7QA,2010,
2,10,8mIrX_LrOnAqWsB5JrOojQ,0,2011-11-30 02:11:15,0.0,kbtscdyz6lvrtGjD1quQTg,4.0,"Like walking back in time, every Saturday morn...",0.0,FIk4lQQu1eTe2EpzQ4xhBA,2011,
3,12,FxLfqxdYPA6Z85PFKaqLrg,0,2016-05-07 01:36:53,0.0,Z7wgXp98wYB57QdRY3HQ3w,4.0,Wow. So surprised at the one and two star revi...,0.0,GYNnVehQeXjty0xH7-6Fhw,2016,
4,16,NyLYY8q1-H3hfsTwuwLPCg,0,2015-01-03 22:47:34,0.0,1wVA2-vQIuW_ClmXkDxqMQ,4.0,Great lunch today. Staff was very helpful in a...,0.0,86J5DwcFk4f4In1Vxe2TvA,2015,

# Cleaning and preprocessing data

In [20]:
def clean(s):
    string = nlp(s)
    words = [token.text for token in string
         if token.is_stop != True and token.is_punct != True and token.is_alpha == True]
    return words

In [22]:
temp= review_df_filtered[:20]
temp['cleaned_text'] = temp.text.apply(clean)

/Users/chris/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [30]:
#downsampling rows with 0 votes randomly:
#reviews_USA["class_useful"]=np.where(reviews_USA["useful"]==0,1,0)
review_df_filtered["class_useful"]=np.where(review_df_filtered["useful"]==0,0,1)

In [28]:
review_df_filtered["useful"].value_counts()

0.0      1148262
1.0       513166
2.0       242990
3.0       123281
4.0        67638
5.0        40373
6.0        25249
7.0        16872
8.0        11813
9.0         8406
10.0        6341
11.0        4621
12.0        3766
13.0        2988
14.0        2297
15.0        1814
16.0        1582
17.0        1261
18.0        1067
19.0         917
20.0         746
21.0         587
22.0         526
23.0         475
25.0         395
24.0         389
26.0         329
28.0         265
27.0         260
29.0         223
          ...
507.0          1
125.0          1
110.0          1
120.0          1
155.0          1
156.0          1
158.0          1
163.0          1
217.0          1
216.0          1
213.0          1
210.0          1
207.0          1
204.0          1
202.0          1
114.0          1
196.0          1
194.0          1
193.0          1
191.0          1
188.0          1
184.0          1
182.0          1
180.0          1
175.0          1
172.0          1
168.0          1
165.0          1
164.0          1
509.0          1
Name: useful, dtype: int64

In [31]:
review_df_filtered["class_useful"].value_counts()

0    1148262
1    1083181
Name: class_useful, dtype: int64

## Downsampling Data based on class of usefulness

In [49]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.under_sampling import RandomUnderSampler
X, y = make_classification(n_classes=2, class_sep=2,weights=[0.5, 0.5], n_informative=3, n_redundant=1, flip_y=0,
n_features=20, n_clusters_per_class=1, n_samples=1000, random_state=10)
print('Original dataset shape %s' % Counter(y))

rus = RandomUnderSampler(random_state=42,ratio={1: 200000, 0: 200000})
reviews_resampled, reviews_class_resampled = rus.fit_resample(review_df_filtered, np.array(review_df_filtered["class_useful"]))
print('Resampled dataset shape %s' % Counter(reviews_class_resampled))

Original dataset shape Counter({0: 500, 1: 500})
Resampled dataset shape Counter({0: 200000, 1: 200000})

In [50]:
ln = [i for i in review_df_filtered.columns]
ln

['index',
 'business_id',
 'cool',
 'date',
 'funny',
 'review_id',
 'stars',
 'text',
 'useful',
 'user_id',
 'year_date',
 'cleaned_text',
 'class_useful']

In [51]:
reviews_resampled = pd.DataFrame(reviews_resampled,columns = ln)

In [53]:
reviews_resampled.head()

,index,business_id,cool,date,funny,review_id,stars,text,useful,user_id,year_date,cleaned_text,class_useful
0,529146,5ma1OUQWy_Ds80xUiP7JPQ,0,2016-03-26 23:54:48,0,eRZpzG1i6rPzk57KLtFtLg,4,the only reason I am giving it a 4 star becaus...,0,pEKFes5cKIO4kl1tqqUy-g,2016,"[reason, I, giving, star, Katsu, chicken, good...",0
1,1488069,lG759ODx7tj6wbS7rYip1g,0,2016-04-27 04:21:50,0,RNnvqCBtp3Hj4JoLzgFewQ,5,"Wow killer good food, but environment basic. T...",0,Ed8hLEXNsIybzH_gtXvwjA,2016,"[Wow, killer, good, food, environment, basic, ...",0
2,6121086,6kD0vTLj3oZJm7kXRSvfKw,0,2015-10-09 07:44:51,0,zlZn5M9mDwtGzH7trtDjWg,4,Eggplant parmesan and the italian wedding soup...,0,srho-TU4JN2PN3g8oXaoEg,2015,"[Eggplant, parmesan, italian, wedding, soup, g...",0
3,6018658,zXBrfL_ohYMuBZWvF8EcSA,2,2016-02-10 03:03:32,0,CNluDuMEU7ghDNr8X3u-yQ,4,"Tried this place for lunch, although busy and ...",0,KCD6daAp293FoOUoTjT_YA,2016,"[Tried, place, lunch, busy, little, noisy, foo...",0
4,1521119,Z1E36owKeeZKDL-9ZuanJw,0,2016-01-08 05:08:20,1,tnk7dYZSVG3-QMIwInydlQ,4,Food was definitely tasty. I tried the baby ba...,0,c6lAB08lDzAVF55zYn7nXA,2016,"[Food, definitely, tasty, I, tried, baby, ribs...",0

In [54]:
for i in range(200000,len(reviews_resampled),10000):
    print(i,i+10000)
    reviews_resampled.iloc[i:i+10000,-2] = reviews_resampled.iloc[i:i+10000,-6].apply(clean)

200000 210000
210000 220000
220000 230000
230000 240000
240000 250000
250000 260000
260000 270000
270000 280000
280000 290000
290000 300000
300000 310000
310000 320000

KeyboardInterrupt:

In [55]:
for i in range(310000,len(reviews_resampled),10000):
    print(i,i+10000)
    reviews_resampled.iloc[i:i+10000,-2] = reviews_resampled.iloc[i:i+10000,-6].apply(clean)

310000 320000
320000 330000
330000 340000
340000 350000
350000 360000
360000 370000
370000 380000
380000 390000
390000 400000

In [59]:
#reviews_balanced['len_tokens'] = 0
reviews_resampled['reviews_length'] = reviews_resampled.cleaned_text.apply(len)

In [62]:
len(reviews_resampled)

400000

In [64]:
reviews_resampled.head(-5)

,index,business_id,cool,date,funny,review_id,stars,text,useful,user_id,year_date,cleaned_text,class_useful,reviews_length
0,529146,5ma1OUQWy_Ds80xUiP7JPQ,0,2016-03-26 23:54:48,0,eRZpzG1i6rPzk57KLtFtLg,4,the only reason I am giving it a 4 star becaus...,0,pEKFes5cKIO4kl1tqqUy-g,2016,"[reason, I, giving, star, Katsu, chicken, good...",0,34
1,1488069,lG759ODx7tj6wbS7rYip1g,0,2016-04-27 04:21:50,0,RNnvqCBtp3Hj4JoLzgFewQ,5,"Wow killer good food, but environment basic. T...",0,Ed8hLEXNsIybzH_gtXvwjA,2016,"[Wow, killer, good, food, environment, basic, ...",0,27
2,6121086,6kD0vTLj3oZJm7kXRSvfKw,0,2015-10-09 07:44:51,0,zlZn5M9mDwtGzH7trtDjWg,4,Eggplant parmesan and the italian wedding soup...,0,srho-TU4JN2PN3g8oXaoEg,2015,"[Eggplant, parmesan, italian, wedding, soup, g...",0,24
3,6018658,zXBrfL_ohYMuBZWvF8EcSA,2,2016-02-10 03:03:32,0,CNluDuMEU7ghDNr8X3u-yQ,4,"Tried this place for lunch, although busy and ...",0,KCD6daAp293FoOUoTjT_YA,2016,"[Tried, place, lunch, busy, little, noisy, foo...",0,43
4,1521119,Z1E36owKeeZKDL-9ZuanJw,0,2016-01-08 05:08:20,1,tnk7dYZSVG3-QMIwInydlQ,4,Food was definitely tasty. I tried the baby ba...,0,c6lAB08lDzAVF55zYn7nXA,2016,"[Food, definitely, tasty, I, tried, baby, ribs...",0,62
5,5132398,CBgcKcrbN7VSoofxCsCOBA,0,2014-07-22 01:59:40,0,vzqoGoQ3NFcX-kKZsbcyAA,5,One of the best butcher shops I have ever been...,0,trGiQWWedQv70yaNr3mORQ,2014,"[One, best, butcher, shops, I, The, owner, ext...",0,21
6,6328475,DXP3MbE8srQITLlAuS45aQ,0,2015-03-24 00:43:06,0,pUKNABz7cvy-YrTo99fbjw,4,"Had hot pot, dishes and Ma La Tang (a spicy bo...",0,49GlLnhi2d8YbbR6tzDFUQ,2015,"[Had, hot, pot, dishes, Ma, La, Tang, spicy, b...",0,106
7,5581519,Zmfq3DVhHdtVChhSxzoUHw,0,2014-08-29 19:51:18,0,xh1NgDwGQx4Sl6P4_2IJGA,5,Hand's down the BEST Chicken Pad Thai I have e...,0,pomBxVCy2noxvpiUCXQK1Q,2014,"[Hand, BEST, Chicken, Pad, Thai, I, eaten, Eve...",0,12
8,1525272,-8QlV3b_9H4BAh6LgMIr1g,0,2015-03-22 00:47:40,0,_ojrq4WHar1u67gvDgpA9g,5,"Food is terrific, reasonably priced, lots of v...",0,VO0s6iWye7D51KcO3BnhlA,2015,"[Food, terrific, reasonably, priced, lots, veg...",0,24
9,170075,KUbCQ2ah__c5x0q_6b4oTA,0,2012-07-23 01:59:54,0,yROAMx1qgeF1EeG8pfmb3w,5,Awesome. No question I could work in PR for th...,0,QFYT4jsU_MYEjBIhvHNQGw,2012,"[Awesome, No, question, I, work, PR, spot, Fre...",0,19
10,4053394,eoHdUeQDNgQ6WYEnP2aiRw,0,2016-04-13 21:02:29,0,VMtnIN5M5dn1L853VhoMMA,2,I used to like this place - the food's not bad...,0,n-U5fa4B0hKfmRSZ-M7BMg,2016,"[I, like, place, food, bad, lately, I, soured,...",0,50
11,512714,zuwba6QEBIDZT0tJZmNhdQ,0,2012-12-03 23:44:17,0,5-6_fqewFmWUHJJUz3D2Zg,3,"Decent sushi, nothing that I would NEED to go ...",0,6nv5QrURt3_9nGHdY3zCRA,2012,"[Decent, sushi, I, NEED, I, eat, sushi, type, ...",0,40
12,5934105,vK1_qKEG7zHvjiTOsN0CRg,0,2015-01-18 01:27:29,0,V4G-rgm0qC9h09TmCO8Z-g,4,Decided to give snooze a try today. Overall th...,0,TWnAIfxdFBgw05fvspt0Gg,2015,"[Decided, snooze, try, today, Overall, experie...",0,46
13,3951955,fJ7uw4dDFIga57868Oz1EA,0,2016-04-17 19:28:02,0,nIccVseBSHLKP4ZUIpNg1g,5,Best barbecue I have every had. Staff was phen...,0,7f5eQxB5ZyhDoiohKVD4-g,2016,"[Best, barbecue, I, Staff, phenomenal, Will, d...",0,10
14,4295499,30TxDt2V8G7FWXsKaEKA9A,0,2015-12-26 22:59:16,0,7DHcwaCm5ughT72rqHfJUA,5,This is some of the best pizza I've ever had. ...,0,AYidv5NGVyQtAibIjc861Q,2015,"[This, best, pizza, I, The, girl, nice, I, cam...",0,27
15,3739292,GfHBBCi6LJAPVFTcCwu9aQ,1,2009-11-25 21:43:44,0,Xsh__vp4a296mRt-rzMYkg,5,"Very laid back, great wine selection, great mu...",0,jD0pSELHS1ACiq2vDIKXqw,2009,"[Very, laid, great, wine, selection, great, mu...",0,17
16,55150,CrPm7Rby304RmpFgmIBdUQ,0,2015-11-03 18:29:19,0,NfW8sTBW6zjq1d12MlPXtA,5,Best wings in Charlotte (donnies/bee sting/chi...,0,SFeRRbtkF3Z35-mE346p_g,2015,"[Best, wings, Charlotte, donnies, bee, sting, ...",0,16
17,5142824,aD0EslPREWGDlSpD0RMlEg,0,2015-04-26 01:24:35,0,LJWzdlyI8zsLxP1xZlckhQ,5,"In short, this place is AWESOME! We tried to g...",0,ZvSAjPCAYV4CG2l6JK7pVg,2015,"[In, short, place, AWESOME, We, tried, Monday,...",0,70
18,1121692,JyxHvtj-syke7m9rbza7mA,0,2011-08-11 01:06:00,0,04CdX9Q8TZzSab-rc7tpZA,5,"I enjoy their sushi, one of the best place to ...",0,NczaVD37aynQYWwjG4ErOg,2011,"[I, enjoy, sushi, best, place, ACE, like, Sush...",0,23
19,5028042,ESQoAgfEMZFE7PQN-OKLMg,0,2016-08-30 17:45:44,0,RBvISrtk8IecGh_HOWxWGA,3,"I brought my parents here for breakfast, only ...",0,lWtNqQ8cAV0MPuxtDmzQKA,2016,"[I, brought, parents, breakfast, I, seen, good...",0,137
20,878777,DcD4NnR24iiUj7w6Q6hxzA,0,2013-09-20 22:20:52,0,UDpSXvK6eckuCC5YKeZrnQ,1,We have never had even a decent experience at ...,0,U-aM-YF-LmsfAQvRoNP8ZQ,2013,"[We, decent, experience, location, fact, trip,...",0,79
21,379741,Wxxvi3LZbHNIDwJ-ZimtnA,0,2014-11-24 17:33:33,1,WEM8gW3LVU1TS94_tLDsiQ,1,Very disappointing stay so far. Arrived on Sat...,0,5mBQ13tMF0nWeVCqE5iy9Q,2014,"[Very, disappointing, stay, far, Arrived, Satu...",0,61
22,2125664,ZuNJelvkJD4wsXNBRg6t5w,0,2015-10-20 02:32:41,0,pX-nz2ZeslwbdPdwAoCMqw,1,"Tried this place because of the reviews, what ...",0,iMth5ZRzK06xOJL5CwdHiQ,2015,"[Tried, place, reviews, mistake, Ordered, Comb...",0,33
23,115810,_j2EtQtgLuXGRBfbM5YwZA,1,2013-02-24 05:12:46,0,e6cB9WzjeVGiQnqR3ro4OA,3,"Hey, not bad.\n\nI was actually dreading comin...",0,CGRkejdGiNtvX-lhcOFUZQ,2013,"[Hey, bad, I, actually, dreading, coming, init...",0,77
24,4524683,UYh1N1xQhOh-a7nX92xPzQ,0,2016-09-15 03:28:31,0,i7OcEihjAznMlBR3n8uEZw,3,"Beautiful restaurant, great service....and jus...",0,InG7O2GZjooDcm6fpyCGNA,2016,"[Beautiful, restaurant, great, service, averag...",0,44
25,1303148,YaTlfyPieOXwHH16wzieFg,0,2015-03-30 04:05:57,0,62DkvY7dr-kHD_XTgpZ0zA,1,Come here often when I travel...First time at ...,0,1D6Zi2kodFGxi2Jk2i0Axw,2015,"[Come, I, travel, First, time, night, Sunday, ...",0,38
26,6463690,4KKmloORuH47OySm9Fq6ug,0,2014-08-21 04:41:36,0,fZEItvUiDhTpqirKgM-rgA,3,Great burritos but its cash only and they neve...,0,nfNhiR72gZIVcolzhmcmJw,2014,"[Great, burritos, cash, stick, posted, hours, ...",0,9
27,6417543,0TgBr7wAMQOij6_JP9q3ag,2,2016-06-06 00:28:26,0,wm0wZkDnWr8B2Wt0MlGL9A,5,This is on the top of the list for the persona...,0,0a9RSmczpnNUwdeExQVy-g,2016,"[This, list, personal, pizza, places, sproutin...",0,33
28,4841068,JzOp695tclcNCNMuBl7oxA,0,2015-03-09 21:54:46,0,VlOvxxAC65_G54-KtwktoA,5,"Seriously Amazing Food, the best Craft beer, G...",0,3uKZR48cvPdj4lu9g5V37Q,2015,"[Seriously, Amazing, Food, best, Craft, beer, ...",0,22
29,2721625,JHN09M-CRTGln2rRnS9hWw,0,2015-04-02 17:51:22,0,90fuvgG4d84ZCKyDECfWTg,4,This McDonald's has the nicest decor I've seen...,0,I4IywBauUAZ-Wt9KD_lR4g,2015,"[This, McDonald, nicest, decor, I, seen, US, E...",0,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399965,3539315,uhb7nSskHRm5RFbGkGlGwQ,0,2014-04-28 03:45:05,0,sO6GxHQnZi695YuN-eniVw,2,Food was good. I had the New York burger whic...,2,Qe-aaALd6Yru_ZYsmZ33xA,2014,"[Food, good, I, New, York, burger, good, But, ...",1,18
399966,5721726,UO2wvlS6Uyg9T_aPvPoIOA,0,2015-04-12 18:38:17,0,jIvkV2at0BBalW_htx9eeQ,5,Really surprised and impressed. Great specials...,3,OgJKswDMHhUMUCGHW4j7Pg,2015,"[Really, surprised, impressed, Great, specials...",1,16
399967,2407341,-4g68Hwm892_KPUuW5g1_Q,1,2011-09-15 22:57:58,6,7VeTvM6hJW6Vgk8_P-mbIg,1,"ANY JJ location, Corporate or Franchise, that ...",2,jxjbrQOlVbRjyYWQpRHK6w,2011,"[ANY, JJ, location, Corporate, Franchise, refu...",1,15
399968,1631421,KOQw4e1rwCY5e0RnmB5rgQ,8,2016-05-23 16:44:45,7,cQwX64tL61Hh98UQyHnLOg,3,Who would think that a place called The Grapev...,12,c7KRpENpwni-RfjRNrYfRA,2016,"[Who, think, place, called, The, Grapevine, tu...",1,60
399969,3358961,iiOpaR1Am7svS0SF_eBoOQ,1,2010-10-07 18:51:32,1,V5ah7fFprgaMFsC4fXsHYA,3,This is typical southern- New York style pizza...,6,Sz84_SyrNYi4wsX__6haLQ,2010,"[This, typical, New, York, style, pizza, I, me...",1,29
399970,4673160,BIqsItY0vyOshMpJ0I4cPg,0,2015-08-06 23:49:18,1,Y1lYdgPH3jl_6ddB-gdddQ,1,Disgusting. \n\nOily. \n\nNo seasoning. \n\nMy...,1,LljJl6zfbvzLZ0xlpS7GDQ,2015,"[Disgusting, Oily, No, seasoning, My, husband,...",1,53
399971,5122376,gogO5RF4Rqz2THF1ATcCew,0,2016-10-10 00:40:54,0,svQjQzYWPjF20R7k6ePwqQ,1,I've had sushi at a lot of places around the c...,1,eSSRmBWqxKeFToeIDSpFmw,2016,"[I, sushi, lot, places, country, Series, failu...",1,47
399972,395131,hAApwo0DNl0TiHX9J-u-eQ,1,2011-04-15 17:30:02,0,LBxwuVNkIzyj_NAkOc5g1w,5,This is my favorite sushi place. The staff is ...,2,-xcBD7h1wxu38IRkzGFCtg,2011,"[This, favorite, sushi, place, The, staff, fri...",1,17
399973,6138370,M3tvxyxkgSuZD3vVjlKW-Q,4,2012-02-04 14:55:25,2,-FGHf20k_RUNCAOw68QGTg,5,No way would I just pull over for a dog in a '...,4,VdQvek1H1gZeLnhamXplSA,2012,"[No, way, I, pull, dog, riskay, town, I, sure,...",1,70
399974,5445671,9WIn1fMJoDPqkc5HOQdybw,0,2013-03-19 19:39:59,0,w0u04A6coFhWlg_wFK0_bw,4,I am very picky about Italian restaurants and ...,1,FlYTCxshJGj-MJGO-kDZGQ,2013,"[I, picky, Italian, restaurants, found, best, ...",1,12
399975,3995932,_V0yJdpXrbdKzBDoVSJGWA,0,2013-08-03 16:30:53,0,y5jQYGkpXl9GLZxg3MnMAQ,1,"This hotel was terrible, stay away if you don'...",3,Bo-9m6oPR2eSZPBVLTW47Q,2013,"[This, hotel, terrible, stay, away, want, trip...",1,71
399976,5367812,gRCEObNuHtI61xR32ytqNQ,0,2015-06-21 19:07:15,0,FeZ1YHgqjA2pT_VKfa9aTg,5,"Good hotel. Reasonable price, clean and accomm...",1,T_QaBmCW4n2cNhNgipu8rg,2015,"[Good, hotel, Reasonable, price, clean, accomm...",1,13
399977,4731091,dLc1d1zwd1Teu2QED5TmlA,0,2015-03-20 19:02:27,0,ebxKpS__p4zuGM-kAHDbMw,3,I rarely venture outside my own neighborhood f...,1,TkFcPIHDPx43OqnqZ_ElPQ,2015,"[I, rarely, venture, outside, neighborhood, Th...",1,57
399978,4160213,prh-RlduJU3z3ynA5lU3Wg,1,2014-03-04 00:20:20,1,YXTw2DYTfQW4C6_aGKwkwA,1,Eh....wife loved it. \n\nToo hipster for me. N...,1,N6ZTMIue-2b30CJv2tyPGg,2014,"[Eh, wife, loved, Too, hipster, Not, flavor, T...",1,16
399979,4751141,qJ18IGaDsQtzJ6v2UzkdcQ,0,2011-10-30 16:32:50,0,O12kneDvK_ySW80slmpPvA,2,We ordered several dishes that were okay taste...,1,KRreoMW7hiiRw2bjwuLxvA,2011,"[We, ordered, dishes, okay, taste, wise, felt,...",1,12
399980,6619369,cN0DHOTO1VPBMwDow8OzCw,0,2013-12-31 04:05:32,0,xDBKBBfOTkTObtX9st3J0Q,4,Really enjoyed our evening. All the ways to ch...,2,XFFoQ60wDZBlw2UISHyEUg,2013,"[Really, enjoyed, evening, All, ways, choose, ...",1,18
399981,1131204,nM2Jl9GS7IGlluey8ieivg,2,2010-02-24 02:30:24,0,9G-TQxGAj_nG8a2IYYkqyQ,5,"I love Noodles & Company, and fact being this ...",1,8ZPgm0zFqTyv1wwP7k42kQ,2010,"[I, love, Noodles, Company, fact, miles, away,...",1,17
399982,958131,aBLx9JlAMq_AuW6VAImSwg,0,2012-07-27 19:41:00,0,Xgy5pKdpULn2KLf4EKULkg,2,I go to this place ALL the time (I've been the...,1,VmS5zUnuAOQn4AEz9S2xIQ,2012,"[I, place, ALL, time, I, twice, week, like, ti...",1,165
399983,6450705,qSP6RqBJUyJRsQKTarlo6g,1,2012-10-27 16:14:22,2,kcntQCqAU6U4DY7x0Idflw,2,We were once good friends. But like all relati...,5,rAae3qQbzb_H0DGSQquhiw,2012,"[We, good, friends, But, like, relationships, ...",1,155
399984,2950670,pdx_SEbQBfpWqLZbk-lZnQ,0,2012-05-13 17:51:04,0,H0o1DAQRUnvXwT4zVWuQ5w,3,This place was decent enough. Nothing stood o...,1,l5x4wzz9VOcQ22XMthU6uw,2012,"[This, place, decent, Nothing, stood, Service,...",1,24
399985,2887742,xyskSLRWf5ixBWSYk5hnDQ,0,2009-11-06 03:06:18,0,lwitSxkD0MlEZkgtfpquYQ,5,I compeltely disagree with the negative review...,1,NY3bZt4TR0eudYWSVKBlEQ,2009,"[I, compeltely, disagree, negative, reviews, p...",1,59
399986,2958177,ijIgdh2bRkBNJa_puVpBoQ,0,2015-05-03 23:02:19,0,waU7G4y3VL1SnIIUt6WUvA,2,My husband and I had breakfast there at this l...,2,SyO34HqXBRH-QcfnwHKJIw,2015,"[My, husband, I, breakfast, location, yesterda...",1,58
399987,4953151,UUGoM4q4i8rK2CBRS0xDAw,0,2008-06-14 04:56:29,1,bH5EyVVPBebKH13QcI9WSw,5,The chocolate fountain will delight young & ol...,1,zI4hbgy-8zXGRWAWz1t3mw,2008,"[The, chocolate, fountain, delight, young, old...",1,32
399988,3138198,RESDUcs7fIiihp38-d6_6g,0,2016-02-17 07:54:17,0,Wd8LVVw2uE2Sn3cE9lwFfw,1,Horrible checking in system - the worst. \n\nW...,1,dAwagEIP-ChguB51PPMh4A,2016,"[Horrible, checking, system, worst, Waited, ho...",1,32
399989,3216770,OvLn9_DDhHA0U5dYBT4RIA,1,2009-05-16 23:25:01,0,ueEeMHVed-3QceKIHUPXjA,4,The band director of my high school opened thi...,1,IWYY3YxRxsrthigb5znMfA,2009,"[The, band, director, high, school, opened, pl...",1,128
399990,1071275,o9eVtV66qMtY0VmWyY2N9Q,0,2016-08-18 12:31:30,1,wSQrA8hGJx_m_Qmi7I7smQ,5,"All in all, one of the best birthday cakes I h...",1,z_ueJdSU51z4RTU9Fg5Ikg,2016,"[All, best, birthday, cakes, I, tasted, From, ...",1,45
399991,3996341,axZSFXdaJ0KE5auPwBllRQ,2,2013-03-18 17:16:36,2,RkJ4ukDYe-iLh7MbNFpCrg,1,I came here strictly for the vegetarian panini...,1,alv_EJkNj1dpMVlwPdmIjQ,2013,"[I, came, strictly, vegetarian, panini, I, com...",1,58
399992,5082580,lbFkq0Ac2nXeeWBCJ0jZRA,0,2014-05-07 01:53:02,0,kCOGY3vn_YZbjsUNGeNOaA,4,For a fast food type place this was excellent....,1,8MoY6Dq8tVEezqqlN_DSMA,2014,"[For, fast, food, type, place, excellent, They...",1,21
399993,6114940,TVYJx5iUkLJFiuiXc8rxEQ,2,2009-10-21 19:08:54,1,moGQFJWwHRYOU8h2aBwn2A,5,This is my first review and how appropriate th...,2,_ZQq20Q5nclY2wancj3cxw,2009,"[This, review, appropriate, favorite, pizza, j...",1,89
399994,5733454,IT0IODInyhKbG4a_ka71MQ,0,2015-08-14 17:13:06,0,wGIZBs0_KfkRJI07DUPxiQ,3,"Server was awesome. Pizza, while extremely thi...",2,agarlhTRXjXoMYieX1R60Q,2015,"[Server, awesome, Pizza, extremely, thin, tast...",1,26

In [66]:
reviews_resampled.class_useful.value_counts()

1    200000
0    200000
Name: class_useful, dtype: int64

## Removing reviews with length < 5

In [89]:
len(reviews_resampled[reviews_resampled["reviews_length"]>=5])

399649

In [90]:
reviews_resampled_filtered=reviews_resampled[reviews_resampled["reviews_length"]>=5]

In [91]:
reviews_resampled_filtered.class_useful.value_counts()

1    199877
0    199772
Name: class_useful, dtype: int64

In [92]:
reviews_resampled_filtered.head()

,index,business_id,cool,date,funny,review_id,stars,text,useful,user_id,year_date,cleaned_text,class_useful,reviews_length
0,529146,5ma1OUQWy_Ds80xUiP7JPQ,0,2016-03-26 23:54:48,0,eRZpzG1i6rPzk57KLtFtLg,4,the only reason I am giving it a 4 star becaus...,0,pEKFes5cKIO4kl1tqqUy-g,2016,"[reason, I, giving, star, Katsu, chicken, good...",0,34
1,1488069,lG759ODx7tj6wbS7rYip1g,0,2016-04-27 04:21:50,0,RNnvqCBtp3Hj4JoLzgFewQ,5,"Wow killer good food, but environment basic. T...",0,Ed8hLEXNsIybzH_gtXvwjA,2016,"[Wow, killer, good, food, environment, basic, ...",0,27
2,6121086,6kD0vTLj3oZJm7kXRSvfKw,0,2015-10-09 07:44:51,0,zlZn5M9mDwtGzH7trtDjWg,4,Eggplant parmesan and the italian wedding soup...,0,srho-TU4JN2PN3g8oXaoEg,2015,"[Eggplant, parmesan, italian, wedding, soup, g...",0,24
3,6018658,zXBrfL_ohYMuBZWvF8EcSA,2,2016-02-10 03:03:32,0,CNluDuMEU7ghDNr8X3u-yQ,4,"Tried this place for lunch, although busy and ...",0,KCD6daAp293FoOUoTjT_YA,2016,"[Tried, place, lunch, busy, little, noisy, foo...",0,43
4,1521119,Z1E36owKeeZKDL-9ZuanJw,0,2016-01-08 05:08:20,1,tnk7dYZSVG3-QMIwInydlQ,4,Food was definitely tasty. I tried the baby ba...,0,c6lAB08lDzAVF55zYn7nXA,2016,"[Food, definitely, tasty, I, tried, baby, ribs...",0,62

In [93]:
reviews_resampled_filtered["cleaned_text_final"] = reviews_resampled_filtered["cleaned_text"].str.join(" ")

/Users/chris/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [94]:
reviews_resampled_filtered.head()

,index,business_id,cool,date,funny,review_id,stars,text,useful,user_id,year_date,cleaned_text,class_useful,reviews_length,cleaned_text_final
0,529146,5ma1OUQWy_Ds80xUiP7JPQ,0,2016-03-26 23:54:48,0,eRZpzG1i6rPzk57KLtFtLg,4,the only reason I am giving it a 4 star becaus...,0,pEKFes5cKIO4kl1tqqUy-g,2016,"[reason, I, giving, star, Katsu, chicken, good...",0,34,reason I giving star Katsu chicken good flavor...
1,1488069,lG759ODx7tj6wbS7rYip1g,0,2016-04-27 04:21:50,0,RNnvqCBtp3Hj4JoLzgFewQ,5,"Wow killer good food, but environment basic. T...",0,Ed8hLEXNsIybzH_gtXvwjA,2016,"[Wow, killer, good, food, environment, basic, ...",0,27,Wow killer good food environment basic They im...
2,6121086,6kD0vTLj3oZJm7kXRSvfKw,0,2015-10-09 07:44:51,0,zlZn5M9mDwtGzH7trtDjWg,4,Eggplant parmesan and the italian wedding soup...,0,srho-TU4JN2PN3g8oXaoEg,2015,"[Eggplant, parmesan, italian, wedding, soup, g...",0,24,Eggplant parmesan italian wedding soup great T...
3,6018658,zXBrfL_ohYMuBZWvF8EcSA,2,2016-02-10 03:03:32,0,CNluDuMEU7ghDNr8X3u-yQ,4,"Tried this place for lunch, although busy and ...",0,KCD6daAp293FoOUoTjT_YA,2016,"[Tried, place, lunch, busy, little, noisy, foo...",0,43,Tried place lunch busy little noisy food makes...
4,1521119,Z1E36owKeeZKDL-9ZuanJw,0,2016-01-08 05:08:20,1,tnk7dYZSVG3-QMIwInydlQ,4,Food was definitely tasty. I tried the baby ba...,0,c6lAB08lDzAVF55zYn7nXA,2016,"[Food, definitely, tasty, I, tried, baby, ribs...",0,62,Food definitely tasty I tried baby ribs links ...

In [96]:
reviews_final_df = reviews_resampled_filtered.loc[:, ["business_id","user_id","review_id",'cleaned_text_final',"stars",'useful',"class_useful","year_date"]]

reviews_final_df.head()

,business_id,user_id,review_id,cleaned_text_final,stars,useful,class_useful,year_date
0,5ma1OUQWy_Ds80xUiP7JPQ,pEKFes5cKIO4kl1tqqUy-g,eRZpzG1i6rPzk57KLtFtLg,reason I giving star Katsu chicken good flavor...,4,0,0,2016
1,lG759ODx7tj6wbS7rYip1g,Ed8hLEXNsIybzH_gtXvwjA,RNnvqCBtp3Hj4JoLzgFewQ,Wow killer good food environment basic They im...,5,0,0,2016
2,6kD0vTLj3oZJm7kXRSvfKw,srho-TU4JN2PN3g8oXaoEg,zlZn5M9mDwtGzH7trtDjWg,Eggplant parmesan italian wedding soup great T...,4,0,0,2015
3,zXBrfL_ohYMuBZWvF8EcSA,KCD6daAp293FoOUoTjT_YA,CNluDuMEU7ghDNr8X3u-yQ,Tried place lunch busy little noisy food makes...,4,0,0,2016
4,Z1E36owKeeZKDL-9ZuanJw,c6lAB08lDzAVF55zYn7nXA,tnk7dYZSVG3-QMIwInydlQ,Food definitely tasty I tried baby ribs links ...,4,0,0,2016

In [99]:
with open("reviews_final_df_fulldata.pkl", 'wb') as f:
    pickle.dump(reviews_final_df, f)

In [100]:
with open("reviews_all_columns_fulldata.pkl", 'wb') as f:
    pickle.dump(reviews_resampled_filtered, f)

In [101]:
reviews_final_df.to_csv("reviews_final_df_fulldata.csv",index=False)